.wrapper {
  display: flex;
  justify-content: center;
  align-items:flex-start;
  width: 100vw;
  height: 90vh;
  margin-top: 50px;
}

.charts-wrapper {
  display: flex;
  gap: 2rem;
  width: 100%;
  padding: 2rem;
  flex-wrap: wrap; /* makes responsive */
}

.chart-container {
  flex: 1;
  min-width: 320px;
}